.header-top {
    color: var(--white);
    display: flex;
    align-items: center;
    min-height: 60px;
    justify-content: space-between;
    font-family: "Century Gothic-bold";
}

.logo {

    &__img {
        width: 218px;
    }
}

.navbar {

    &__list {
        display: flex;
        align-items: center;

    }

    &__item {
        background-image: linear-gradient(currentColor, currentColor);
        background-position: 0% 100%;
        background-repeat: no-repeat;
        background-size: 0% 3px;
        transition:.3s;

        &:not(:last-child) {
            margin-right: 40px;
        }

        &:hover {
            background-size: 100% 3px;
        }
    }
}

.header-top-right {
    display: flex;
    align-items: center;

    &__burger {
        display: none;
    }
}

.language {
    display: flex;
    align-items: center;
    margin-right: 40px;
    flex-wrap: wrap;

    &__label {
        margin-right: 30px;
        display: flex;
        line-height: 20px;
        align-items: end;

        & input {
            display: none;
        }
    }

    &__check-style {
        position: absolute;
        width: 19px;
        height: 19px;
        border-radius: 50%;
        border: 2px solid var(--white);
        margin-left: 30px;
        transition: 0.1s;
    }

    & input:checked+&__check-style {
        content: '';
        border: solid 5px var(--white)
    }
}

.contact {
    display: flex;
    align-items: center;

    &__img {
        width: 24px;
        height: 24px;
        margin-right: 25px;
    }

    &__img:hover {
        -webkit-animation: shake .1s ease-in-out .1s infinite alternate;

        @-webkit-keyframes shake {
            from {
                -webkit-transform: rotate(20deg);
            }

            to {
                -webkit-transform: rotate(-20deg);
                -webkit-transform-origin: center;
            }
        }
    }
}